#thelogo{
    margin: 5px;
    text-align: center;
    font-size: 7em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
#subtitle{
    margin: 5px;
    text-align: center;
    font-size: 2em;
  }
p.species{
    font-weight: 600;
    font-style: italic;
    font-size: large;
}  
p.labeldata{
    font-size: medium;
}
p.sex{
    font-size: large;
}
p.size{
    font-size: large;
}
div.specimen{
    height: 600px;
    width: 500px;
    float: left;
    margin-left: 30px;
}
div.specimenimage{
    height: 500px;
    width: 500px;
    
}
div.specimeninfo{
    height:200px;
    width: 500px;
    margin-top: 10px;
    text-align: center;
    line-height: 10px;
}

img.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: auto;
    padding: 20px;
  }
p.info{
    text-align: center;
    font-size: larger;
    padding: 1em;
    border-style: solid;
    border-color: black;
}
div.card{
    /* float: left; */
    margin: 1vw;
    display: inline-block;
}
div.boxcollective{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  #jjinfield{
      margin: 20px;
      width: 600px;
      float: left;
      image-resolution: 100dpi;
  }
#welcome{
    width: 500px;
    margin: 20px; 
    float: left;
  }
  img.card-img-top{
    image-resolution: 50dpi;
  }

  #main{

        max-width: 100%;
        height: auto;

  }
